* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Ctd-book';
}
body {
  /* background: #ececec; */
  background: #F6FBF4;
  overflow-x: hidden;
}
@font-face {
  font-family: 'ctd-bold';
  src: url('./fonts/Ctd-bold.ttf');
}
@font-face {
  font-family: 'ctd-book';
  src: url('./fonts/Ctd-book.ttf');
}
h1,h2,h3 {
  font-family: 'ctd-bold',sans-serif;
}
p {
  font-family: 'ctd-book',sans-serif;
}